[Unit]
Description=Solar plant monitor
After=network-online.target syslog.target

[Service]
Type=simple
WorkingDirectory=/home/pi/solarmon/solarmon
ExecStart=/home/pi/solarmon/venv/bin/python /home/pi/solarmon/solarmon/main.py
StandardOutput=syslog
StandardError=syslog
Restart=on-failure

[Install]
WantedBy=multi-user.target
